<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>CarDock</title>
</head>
<body>
    <nav>
        <h1>CarDock</h1>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/docs">Docs</a></li>
            <li><a href="#">Tutorials</a></li>
            <li><a href="#">Pricing</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </nav>
    <div class="content">
    <h2>{{ entry.subtitle}}</h2>
    <p>lorem ipsum dolor ellit bla bla</p>
    </div>
</body>
</html>